.home-jumbotron {
  width: 100%;
  background-color: var(--secondary);
  padding: calc(var(--spacing) * 2);
  border-radius: var(--border-radius);
  position: relative;
}

.home-jumbotron__text {
  font-size: 1em;
  color: var(--white);
  width: 60%;
}

.home-jumbotron__name {
  font-size: 2em;
  color: var(--primary-light);
  line-height: 100%;
  margin-bottom: 1rem;
}

.home-jumbotron__buttons {
  margin-top: 1rem;
  display: flex;
  gap: calc(var(--spacing) / 2);
}

.home-jumbotron__image {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  width: auto;
  max-width: 35%;
  height: auto;
  max-height: 80%;
}

.home-stats {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--spacing);
}
