body {
  font-size: 18px;
  font-family: poppins, sans-serif;
  width: 100vw;
}

.login-page {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(images-form/image.png);
  background-color: var(--blending-color);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
}

.login-page .form-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-page form.login-form {
  width: 500px;
  background-color: var(--white-color);
  padding: var(--padding-form);
  border-radius: 10px;
}

@media screen and (max-width: 320px) {
  .login-page form.login-form {
    width: auto;
    max-height: 750px;
    max-width: 400px;
  }

  .login-form .check-in {
    font-weight: 400;
  }

  .login-form a {
    font-weight: 400;
  }

  .login-page {
    width: 100vw;
  }
}

@media screen and (max-width: 360px) {
  .login-page form.login-form {
    width: auto;
    max-height: 750px;
    max-width: 420px;
  }
}

@media screen and (max-width: 393px) {
  .login-page form.login-form {
    width: auto;
    max-height: 750px;
    max-width: 460px;
  }
}

@media screen and (max-width: 412px) {
  .login-page form.login-form {
    width: auto;
    max-height: 750px;
    max-width: 490px;
  }
}

@media screen and (max-width: 414px) {
  .login-page form.login-form {
    width: auto;
    max-height: 750px;
    max-width: 550px;
  }
}

@media screen and (max-width: 428px) {
  .login-page form.login-form {
    width: auto;
    max-height: 750px;
    max-width: 620px;
  }
}

@media screen and (max-width: 768px) {
  .login-page form.login-form {
    width: auto;
    max-height: 750px;
    max-width: 450px;
  }
}

.login-page .login-form .form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-field label {
  color: var(--primary-color);
  font-weight: bold;
  font-size: var(--font-size-regular);
}

.verification {
  margin: 0 0 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.verification-check {
  display: flex;
  align-items: center;
}

.login-page .login-form h2 {
  color: var(--primary-color);
  text-align: center;
  margin: 2rem 0 2rem 0;
  font-size: var(--font-size-heading);
}

.login-form .check-in {
  font-size: 0.8rem;
  margin-left: 0.2rem;
}

.login-form a {
  text-decoration: none;
  font-size: var(--font-size-small);
}

.login-form button {
  width: 100%;
}

a.forgot-link {
  color: var(--blending-colo);
}

.login-form .first {
  color: var(--secondary-color);
}

.login-page footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 1rem 0;
  width: 100%;
  background-color: var(--blending-colo);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-page footer img {
  width: 20%;
  height: 100%;
  object-fit: cover;
}

.login-page footer .copyrights {
  font-size: var(--font-size-small);
}
